.marquee {

  width: 100%;
  margin: 35px 0;
  padding: 15px 0;
}

.marquee a {
  color: rgb(0, 23, 67);
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline blue;
}
.card{

  width: 25rem;
  
}
@media (max-width:500px) {

  .navbar{
    flex-direction: column;
  }
  .nav-img{
    margin: 0 !important;
    margin-bottom: 8px !important;
  }
  
}